# Rust
/target/
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db

# Logs
*.log
runs/

# Added by cargo
crates/tokenizer/target/
/target

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
pip-log.txt
pip-delete-this-directory.txt

# Hugging Face & ML Data
.env
/data/raw_hf
/data/raw
/venv
crates/pretraining-data/venv
*.safetensors
*.bin
*.pt
*.pth
models/
datasets/
wandb/
