# Rust
/target/
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db

# Logs
*.log
runs/

# Added by cargo
crates/tokenizer/target/
/target

# Hugging Face
.env
/data/raw_hf
/venv 
crates/pretraining-data/venv 